.search-film {
  width: 100%;
  display: grid;
  grid-template-columns: auto 70px;
  grid-template-rows: 48px auto;
  grid-template-areas:
    "input btn"
    "smaller smaller";
  column-gap: 10px;
  border-bottom: 1px solid #424242;
  margin: 79px 0 10px;
}

.search-film__input {
  grid-area: input;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  background-color: #2f2f2f;
  padding: 0 22px;
  width: 100%;
  min-width: 290px;
  color: #8b8b8b;
  border-radius: 40px;
  border: none;
}

.search-film__btn {
  grid-area: btn;
  padding: 0;
  margin: 2px 0;
  border: none;
  background-color: #4285f4;
  border-radius: 48px;
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}

.search-film__checkbox {
  grid-area: smaller;
  justify-self: center;
  margin: 29px 10px 39px;
}

@media screen and (max-width: 420px) {
  .search-film {
    width: calc(100% - 8px);
    grid-template-rows: 44px auto;
  }

  .search-film__input {
    font-size: 12px;
    line-height: 1.5;
    padding: 0 16px;
  }

  .search-film__btn {
    margin: 0;
  }

  .search-film__checkbox {
    margin: 47px 10px 43px;
  }
}
