.movies {
  --sidepad: 70px;
  margin-bottom: 80px;
  width: calc(100% - 2 * var(--sidepad));
  padding: 0 var(--sidepad);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
}

.movies__notfound-message {
  margin: 50px;
  color: rgba(238, 52, 101, 1);
  text-align: center;
}

@media (max-width: 1024px) {
  .movies {
    --sidepad: 30px;
  }
  .movies__btn {
    width: 708px;
  }
}

@media (max-width: 720px) {
  .movies__btn {
    width: 460px;
  }
}

@media (max-width: 480px) {
  .movies {
    --sidepad: 10px;
  }

  .movies__btn {
    width: 240px;
  }
}
