.auth {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  height: 560px;
  margin: 70px auto 0;
}

.auth__form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth__title {
  padding: 0;
  margin: 35px 0 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.auth__btn {
  width: 100%;
  padding: 14px 0;
  margin: auto 0 13px;
  background-color: #4285f4;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.auth__btn:hover {
  cursor: pointer;
}

.auth__signin-box {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth__question {
  color: #8b8b8b;
  margin: 0;
  padding: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth__link {
  padding: 3px;
  text-decoration: none;
  color: #4285f4;
}
