.header {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: right;
  color: #ffffff;
  background-color: #073042;
  max-width: 1280px;
}
