.header {
  font-family: "Inter", "Arial", serif;
  background-color: #073042;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #073042;
  max-width: 1280px;
  padding: 18px 70px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header_status_hidden {
  display: none;
}

.header_status_loggedIn {
}
