.moviescard-list {
  margin: 70px 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  column-gap: 20px;
  row-gap: 38px;
}

.movies__btn {
  width: 100%;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 50px 0 0;
  background-color: #2f2f2f;
  color: #ffffff;
  border-radius: 6px;
  border: none;
}

.movies__btn:hover {
  cursor: pointer;
  opacity: 60%;
}

@media (max-width: 1024px) {
  .moviescard-list {
    grid-template-columns: repeat(auto-fill, minmax(342px, 2fr));
    margin-top: 76px;
    column-gap: 24px;
    row-gap: 35px;
  }

  .movies__btn {
    width: 708px;
  }
}

@media (max-width: 720px) {
  .movies__btn {
    width: 460px;
  }
}

@media (max-width: 420px) {
  .moviescard-list {
    margin-top: 41px;
    row-gap: 33px;
  }

  .movies__btn {
    width: 240px;
  }
}
