.menu-link {
  text-decoration-line: none;
  color: inherit;
  border-radius: 3px;
}

.menu-link_style_sign {
  margin-left: 10px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.menu-link_style_column {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  padding: 5px 10px;
  border-bottom: 2px solid #202020;
  margin-bottom: 16px;
}

.menu-link_highlighted {
  background-color: #3ddc84;
  color: black;
  -webkit-text-stroke: 1px #202020;
}

.menu-link_style_row_activated {
  pointer-events: none;
}

.menu-link_style_column_activated {
  pointer-events: none;
  padding: 5px 0;
  border-bottom: 2px solid #ffffff;
  border-radius: 0;
}
