.navigation__sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.navigation__link:hover {
  cursor: pointer;
  opacity: 70%;
}

.navigation__btn {
  margin-left: 30px;
  background-color: #3ddc84;
  text-align: center;
  width: 76px;
  height: 32px;
  transition: 0.3s;
  border-radius: 3px;
  color: #000000;
}

.navigation__btn:hover {
  cursor: pointer;
  opacity: 80%;
}
