.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile__form {
  width: calc(100% - 60px);
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
  min-height: 300px;
  margin: 40px 0;
}

.profile__tittle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 28px;
  padding-bottom: 92px;
}

.profile__btn {
  padding: 205px 0 14px;
  background-color: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

.profile__btn:hover {
  cursor: pointer;
  opacity: 70%;
}

.profile__signout {
  text-decoration-line: none;
  color: #ee3465;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 1024px) {
  .profile__form {
    margin-top: 205px;
  }
  .profile__tittle {
    margin-bottom: 0;
    padding-bottom: 80px;
  }
  .profile__btn {
    padding-top: 198px;
  }
}

@media (max-width: 480px) {
  .profile__form {
  }
}
