.search-film {
  width: 100%;
  column-gap: 10px;
  border-bottom: 1px solid #424242;
  margin: 0 70px 0px;
  padding: 70px 0 36px 0;
}

.search-film__container {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.search-film__input {
  padding-left: 22px;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  background-color: #2f2f2f;
  width: 100%;
  height: 46px;
  color: #8b8b8b;
  border-radius: 40px;
  border: none;
}

.search-film__btn {
  position: absolute;
  right: 0;
  margin: 6px;
  width: 59px;
  height: 34px;
  padding: 0;
  border: none;
  background-color: #4285f4;
  border-radius: 48px;
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}

.search-film__btn_disabled {
  background: rgba(248, 248, 248, 0.5);
  opacity: 80%;
}

.search-film__btn:hover {
  cursor: pointer;
  opacity: 60%;
}

.search-film__span {
  color: rgba(238, 52, 101, 1);
  font-size: 11px;
  padding-left: 10px;
  text-align: center;
  height: 18px;
  visibility: hidden;
}

.search-film__span_active {
  visibility: visible;
}

.search-film__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

@media screen and (max-width: 420px) {
  .search-film__input {
    /* width: 292px; */
    font-size: 11px;
    line-height: 17px;
    padding: 0 16px;
  }

  .search-film__checkbox {
    margin: 47px 10px 43px;
  }
}
