.blocks {
  --sidepad: 70px;
  width: calc(100% - 2 * var(--sidepad));
  padding: 0 var(--sidepad);
}

.blocks__title {
  color: #ffffff;
  margin: 100px 0 8px;
  padding: 0 0 21px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
}

.blocks__item {
  display: flex;
  flex-direction: column;
}

.blocks_style_grey {
  background-color: #272727;
}

.blocks_style_black {
  background-color: #202020;
  padding-top: 10px;
}

.blocks__title_style_grey {
  border-bottom: 1px solid #dadada;
}

.blocks__title_style_light {
  color: #8b8b8b;
  border-bottom: none;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.04em;
}
