.promo {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 524px;
  background-color: #073042;
  background-image: url("../../../images/promo-logo.svg");
  background-repeat: no-repeat;
  background-position: 92% 26%;
  background-size: 310px 304px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.promo__title {
  padding: 0;
  max-width: 640px;
  margin: 70px 70px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #ffffff;
}

.promo__instruction {
  margin: 36px 70px 0;
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.promo__logo {
  align-self: flex-end;
  margin: 103px 70px 60px 0;
}

.promo__btn {
  font-family: "Inter", "Arial", serif;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  background-color: #073042;
  border: 1px solid #ffffff;
  padding: 9px 18px;
  margin: 145px 70px 75px;
  border-radius: 3px;
  color: #ffffff;
}
.promo__btn:hover {
  cursor: pointer;
  opacity: 60%;
}
