.promo {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #073042;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.promo__title {
  padding: 0;
  max-width: 640px;
  margin: 50px 70px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #ffffff;
}

.promo__instruction {
  padding-top: 36px;
  margin: 50px 70px 0;
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.promo__logo {
  align-self: flex-end;
  margin: 103px 70px 60px 0;
}
