.auth {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: calc(100% - 60px);
  height: 560px;
  margin: 70px auto 0;
}

.auth__form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth__title {
  padding: 0;
  margin: 38px 0 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.auth__btn {
  width: 100%;
  padding: 14px 0;
  margin: auto 0 10px;
  background-color: #4285f4;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.auth__btn:hover {
  opacity: 80%;
}

.auth__btn:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.auth__signin-box {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth__question {
  color: #8b8b8b;
  margin: 0;
  padding: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth__link {
  padding: 3px;
  text-decoration: none;
  color: #4285f4;
}

@media (max-width: 1024px) {
  .auth {
    margin: 230px auto 0;
  }
}

@media (max-width: 480px) {
  .auth {
    margin: 0 30px;
    padding: 56px 0 30px;
    align-items: center;
    height: 100vh;
    min-height: 560px;
  }
  .auth__form {
    height: calc(100vh - 127px);
  }
  .auth__title {
    text-align: center;
    margin: 46px 0 60px;
  }
  .auth__btn {
    margin-top: 222px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
  }
  .auth__signin-box {
    font-size: 12px;
    line-height: 15px;
  }
  .auth__question {
    font-size: 12px;
    line-height: 15px;
  }
}
